.projects-new.block-container.page-container
  .container
    .row
      .col.s12.m6.offset-m3
        .new-project.card
          = form_for @project do |f|
            .card-content
              %p.card-title New project
              .name.input.row
                .input-field.col.s12
                  = f.label :name
                  = f.text_field :name, placeholder: 'Test app'
              .git-repo-path.input.row
                .input-field.col.s12
                  = f.label :git_repo_path
                  = f.text_field :git_repo_path, placeholder: 'https://github.com/some-user/some-repo'
                %p.hint.grey-text.col.s12
                  %i.material-icons.md-18 info
                  / TODO copy writing
                  Currently we only support public repos. We will support private repos in the not-too-distant future.
              .platforms.input.row
                .input-field.col.s12
                  = f.label :platforms, class: 'active'
                  = f.collection_check_boxes :platforms, Distribution::SUPPORTED_PLATFORMS, :to_s, :capitalize do |check_box|
                    .input-field.col.s12
                      = check_box.check_box
                      = check_box.label( class: 'for-checkbox' ) do
                        %i.material-icons= distribution_platform_icon_name check_box.value
                        = check_box.text

            .card-action.center
              = f.submit 'Create', class: 'btn'
